*{
    font-family: 'Roboto', sans-serif;
    transform: 400ms all;
}

body{
    background: #F3F5FC;
}

.container{
    position: absolute;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 90%;
    margin: 3%;
}

.logo{
    position: absolute;
    top: -7%;
    left: 0%;
    transform: scale(0.5);
    float: left;
}

.container-contenido{
    margin-left: 8%;
    position: absolute;
    top: 13%;
    left: 5%;
    width: 45%;
    height: 55%;
    float: left;
}

.input-texto{
    width: 100%;
    height: 100%;
    float: left;
}

#input{
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    background: #F3F5FC;
    text-align: center;
    color: #0A3871;
    font-size: 1em;

}

#input::placeholder{
    color: #0A3871;
    font-size: 1em;
    text-align: center;
}

.warn{
    position: absolute;
    top: 410px;
}

.warn p{
    margin-top: 10px;
    color: #495057;
    opacity: 0.8;
    text-align: center;
}

.botones{
    position: absolute;
    top: 440px;
    text-align: center;
}

#boton-1, #boton-2{
    border: solid 1px #0A3871;
    padding: 10px 100px;
    border-radius: 12px;
    transition: 500ms transform;
    margin: 7px 7px 2px 0px;
    cursor: pointer;
}
#boton-1{
    background-color: #0A3871;
    color: #FFF;
}

#boton-2{
    background-color: #D8DFE8;
    color: #0A3871;
}
#boton-1:hover, .boton-2:hover{
    transform: scale(1.05);
}


.container-panel{
    position: absolute;
    top: 10%;
    right: 18%;
    width: 20%;
    height: 70%;
    float: right;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

#output{
    position: absolute;
    left: 4.5%;
    margin-top: 20%;
    width: 90%;
    height: 20em;
    color: #495057;
    resize: none;
    border: none;
    outline: none;
    display: none;
}

#muneco {
    position: absolute;
    transform: scale(0.8);
    top: -5%;
    right: -12%;
}

.mensaje-1{
    position: absolute;
    top: 64%;
    left: 7%;
    font-size: 18px;
    text-align: center;
    color: #343A40;
}
.mensaje-2{
    position: absolute;
    top: 77%;
    font-size: 14px;
    text-align: center;
    color: #495057;
}

#copiar{
    position: absolute;
    top: 89%;
    left: 30%;
    padding: 4% 15%;
    border-radius: 10px;
    border: solid 1px #0A3871;
    background-color: #D8DFE8;
    color: #0A3871;
    cursor: pointer;
    transition: 400ms transform;
    display: none;
}

#copiar:hover{
    transform: scale(1.05);
}

@media screen and (max-width:700px){
    .container{
        height: 400px;
    }
    .logo{
        top: -4%;
        left: -16%;
    }

    .container-contenido{
        margin-left: 30%;
        width: 40%;
        left: -20%;
    }

    .botones{
        top: 450px;
    }

    #boton-1, #boton-2{
        padding: 10px 30px;
    }
    .container-panel{
        width: 30%;
        right: 10%;
        height: 120%;
    }
    #muneco{
        top: -10%;
        right: -39%;
    }
    .mensaje-1{
        top: 61%;
        left: 0%;
    }
    .mensaje-2{
        top: 73%;
    }
    #copiar{
        left: 23%;
    }
}